root = true

[*]
indent_style = space
indent_size = 2
# This does break VS it causes BOM to be added to files:
# https://developercommunity.visualstudio.com/content/problem/21744/vs2017-rc-breaks-the-encoding-of-my-files.html
# charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
