### Start of differences with .npmignore
# This is the directory published to npm
dist
### End of differences with .npmignore

### Dependencies ###
# Node dependencies directory
node_modules

# Typings definitions
typings

### Local config ###
test-config.js

### Temporary files ###
# Build directory
build

# Temporary directory
tmp

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

### IDE files ###
# Komodo Tools
*.komodoproject
.komodotools

# WebStorm
.idea
