### Start of differences with .gitignore
# This is the directory published to npm
!dist
### End of differences with .gitignore

### Dependencies ###
# Node dependencies directory
node_modules

# Typings definitions
typings

### Temporary files ###
# Build directory
build

# Temporary directory
tmp

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

### IDE files ###
# Komodo Tools
*.komodoproject
.komodotools

# WebStorm
.idea
