language: node_js

notifications:
  email:
    on_success: never
    on_failure: change

node_js:
- stable

before_install:
- npm install -g gulp-cli codecov

script:
- npm test
- if [[ -n "${NPM_TOKEN}" ]]; then echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc && ./tools/continuous-deployment.travis.sh; fi

after_script:
- codecov
